.sticky-message a {
    font-size: 13px;
}

.new {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffc;
    padding: 10px 0;
    text-align: center;
    color: #f58110;
    font-size: 20px;
    border-bottom: solid 1px #f58110;
    box-shadow: 2px 2px 12px #ccc;
}

.error {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 0;
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    font-size: 20px;
    border-bottom: solid 1px #ebccd1;
    box-shadow: 2px 2px 12px #ccc;
}