<div class="reddit-view" ng-controller="RedditController as redditCtrl">

    <div style="text-align: right;">
        <input type="date" sc-date-picker ng-model="redditCtrl.dateModel">
    </div>

    <h3>{{redditCtrl.dateModel}}</h3>

    <sc-loading busy="redditCtrl.reddit.inProgress()"></sc-loading>

    <sc-sticky-message
        show="redditCtrl.reddit.isCompleted()"
        message-type="new">

        <span class="glyphicon glyphicon-star"></span> New Items Loaded!
    </sc-sticky-message>

    <sc-sticky-message
        show="redditCtrl.reddit.hasError()"
        message-type="error">

        <span class="glyphicon glyphicon-exclamation-sign"></span> We've encountered an error.

    </sc-sticky-message>


     <div infinite-scroll="redditCtrl.reddit.nextPage()"
         infinite-scroll-disabled="redditCtrl.reddit.inProgress()"
         infinite-scroll-distance="3">

        <ul class="news-item row" ng-repeat="item in redditCtrl.reddit.items"
            id="news-{{item.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <li class="news-item-list rank">
                {{item.score}}
            </li>
            <li class="news-item-list vote">
                <a class="glyphicon glyphicon-arrow-up" ng-click="voteUp"></a>
                <a class="glyphicon glyphicon-arrow-down" ng-click="voteDown"></a>
            </li>
            <li class="news-item-list">
                <a href="javascript://">
                    <img ng-src="{{redditCtrl.reddit.sanitizeImageUri(item.thumbnail)}}" class="img_thumb"/>
                </a>
            </li>
            <li class="news-item-list desc">
                <span>
                    <a ng-href="{{item.url}}" target="_blank">
                        {{item.title}}
                    </a>
                </span>
                <br><br>
                <span>submitted {{item.hours}} hours ago by {{item.author}}</span>
            </li>
        </ul>

    </div>

</div>